*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

article,div{
    border: 1px solid gray;
    padding: 10px;
}
div{background-color: red;
}

article{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: stretch;
}
div{
    flex:0 0 calc(25% - 10px);
}
div:nth-child(2){
    order: -1;
}
div:nth-child(3){
    order: -1;
}
@media screen and (max-width:500px){
    article{
        flex-direction: column;
    }
    div{
        flex:0 0 100% ;
    }    
}